.shopping-cart__header-text {
    &::before {
        background-image: url('../images/icons/shopping-cart-icon.png');
    }
}

.shopping-cart__content {
    padding: $spacing-medium $spacing-small 35px;
    font-size: $size-font-small;
    line-height: 1.57;
}

.shopping-cart__item {
    padding-bottom: 5px;
    display: flex; 
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    

    span {
        max-width: 80%;
    }
    &:not(:last-child) {
        margin-bottom: 10px;
        border-bottom: 1px solid $color-accent;
    }
}

.shopping-cart__item-close {
    width: 10px;
    height: 10px;
    object-fit: contain;
    cursor: pointer;
}